name: torrent-client

services:
  qbittorrent:
    restart: unless-stopped
    container_name: qbittorrent
    ports:
      - '8080:8080'
    image: ghcr.io/hotio/qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Asia/Calcutta
    volumes:
      - /docker/appdata/qbittorrent:/config
      - /home/headlessnick/data/:/data/
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
    networks:
      - proxy

  qbitwebui:
    image: ghcr.io/Maciejonos/qbitwebui:latest
    container_name: qbitwebui
    volumes:
      - /docker/appdata/qbitwebui:/data
      - /home/headlessnick/data/torrents:/downloads:ro
    environment:
      - ENCRYPTION_KEY=38d283d379815d17b11389ac5f318016f7e28ce2d6057ac04094a6f55d3ea23d
      - DOWNLOADS_PATH=/downloads
    restart: unless-stopped
    networks:
      - proxy

networks:
   proxy:
     external: true
