name: backups

services:
  zerobyte:
    image: ghcr.io/nicotsx/zerobyte:v0.24
    container_name: zerobyte
    restart: unless-stopped
    environment:
      - TZ=Asia/Calcutta # Set your timezone here
      - BASE_URL=https://zerobyte.mediaserver.gleeze.com 
      - APP_SECRET=38d283d379815d17b11389ac5f318016f7e28ce2d6057ac04094a6f55d3ea23d
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /docker/appdata/zerobyte:/var/lib/zerobyte
      - /docker/appdata:/mydata

networks:
  proxy:
    external: true